---

---


<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="css/aboutpagenew.css" rel="stylesheet" type="text/css">
  </head>

  <body>
     {% include header-new.html %}
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">"Who The Hell Are Sleepy Gonzales?"</h1>
            <p class="lead text-left">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "It's not something I fully understand
              myself, to be honest. But it's the one thing that doesn't upset me when
              I picture doing it for my entire life. Sometimes, when we're playing, the
              sound reverberates through my body at exactly the right frequency, and
              in those moments, everything becomes unabatedly clear to me. Then I look
              over, and see the exact same look in their eyes. Nothing beats that."
              <br>
              <br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "Am I absolutely sure we can do it?
              No - but what&nbsp;would be the fun in that? The only thing I know is that
              one day I will look back, and be certain that we did our best. That's enough.
              We're just guessing, after all. Wading through the fog, unsure of what
              to do or where to go. It might seem like a long shot, but somehow, we all
              ended up in the same place, at the same time, chasing the same dream."
              <br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="carousel-example" data-interval="6000" class="carousel slide"
    data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img src="WebPics/landingphoto.jpg">
        </div>
        <div class="item">
          <img src="WebPics/Picture6GOOD.jpg">
        </div>
        <div class="item">
          <img src="WebPics/Picture7GOOD.jpg">
        </div>
        <div class="item">
          <img src="WebPics/Picture1GOOD.jpg">
        </div>
        <div class="item">
          <img src="WebPics/IMG_0954 copy copy.jpg">"WebPics/Picture7GOOD.jpg"
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example" data-slide="prev"><i class="icon-prev  fa fa-angle-left"></i></a>
      <a class="right carousel-control" href="#carousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
    </div>
{% include footer-new.html %}
  </body>

</html>
