---

---

<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="css/AboutPage.css" rel="stylesheet" type="text/css">
      <title>{{ site.title }}</title>
  </head>

  <body>
    {% include header-new.html %}
    <div class="section">
      <div class="background-image"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Sleepy Gonzales is...</h1>
            <p class="text-center"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="text-center">Paragraph describing band in general.. introduction to photos</p>
          </div>
        </div>
      </div>
    </div>
    <div id="fullcarousel-example" data-interval="false" class="carousel slide"
    data-ride="carousel">
      <div class="carousel-inner">
        <div class="item">
          <img src="https://unsplash.imgix.net/photo-1421986527537-888d998adb74?w=1024&amp;q=50&amp;fm=jpg&amp;s=e633562a1da53293c4dc391fd41ce41d">
        </div>
        <div class="item">
          <img src="../../Downloads/WebsitePic1.jpg">
        </div>
        <div class="item active">
          <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png">
          <div class="carousel-caption">
            <h2>Title</h2>
            <p>Description</p>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#fullcarousel-example" data-slide="prev"><i class="icon-prev fa fa-angle-left"></i></a>
      <a class="right carousel-control" href="#fullcarousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
    </div>
{% include footer-new.html %}
  </body>

</html>
