---

---


<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="css/contactnew.css" rel="stylesheet" type="text/css">
  </head>

  <body>
{% include header-new.html %}
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Need a band to play at your spot?</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center">Sleepy Gonzales' variety of playing styles include everything from loud
              and energetic to small room atmospheric.</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel slide" id="carousel-example" data-interval="false"
    data-ride="carousel">
      <div class="carousel-inner">
        <div class="active item">
          <img src="WebPics/IMG_6101 (1) copy.jpg">
          <div class="carousel-caption">
            <h2>Contact/Booking</h2>
            <p class="lead">sleepygonzales123@gmailcom</p>
          </div>
        </div>
      </div>
    </div>
{% include footer-new.html %}
  </body>

</html>
