---

---


<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="css/contactmay26.css" rel="stylesheet" type="text/css">
  </head>

  <body>
{% include header-new.html %}
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Need a band to play at your spot?</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center">Sleepy Gonzales' variety of playing styles include everything from loud
              and energetic to small room atmospheric.</h3>
          </div>
        </div>
      </div>
    </div>
    <div id="carousel-example" data-interval="4000" class="carousel slide"
        data-ride="carousel">
          <div class="carousel-inner">
            <div class="item">
              <img src="WebPics/landingphoto.jpg">
              <div class="carousel-caption">
                <h2>Contact/Booking</h2>
                <p class="lead">sleepygonzales123@gmail.com</p>
              </div>
            </div>
            <div class="item">
              <img src="WebPics/Picture7GOOD.jpg">
              <div class="carousel-caption">
                <h2>Contact/Booking</h2>
                <p class="lead">sleepygonzales123@gmail.com</p>
              </div>
            </div>
            <div class="item">
              <img src="WebPics/IMG_0954 copy copy.jpg">
              <div class="carousel-caption">
                <h2>Contact/Booking</h2>
                <p class="lead">sleepygonzales123@gmail.com</p>
              </div>
            </div>
            <div class="item">
              <img src="WebPics/Picture1GOOD.jpg">
              <div class="carousel-caption">
                <h2>Contact/Booking</h2>
                <p class="lead">sleepygonzales123@gmail.com</p>
              </div>
            </div>
            <div class="item">
              <img src="WebPics/Picture6GOOD.jpg">
              <div class="carousel-caption">
                <h2>Contact/Booking</h2>
                <p class="lead">sleepygonzales123@gmail.com</p>
              </div>
            </div>
            <div class="item">
              <img src="WebPics/BandPola.jpg">
            </div>
            <div class="item active">
              <img src="WebPics/IMG_6101 (1) copy.jpg">
              <div class="carousel-caption">
                <h1>Contact/Booking</h1>
                <p class="lead">sleepygonzales123@gmail.com</p>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-example" data-slide="prev"><i class="icon-prev  fa fa-angle-left"></i></a>
          <a class="right carousel-control" href="#carousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
        </div>

{% include footer-new.html %}
  </body>

</html>
