---

---

<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="css/indexmusic.css" rel="stylesheet" type="text/css">
  </head>

  <body>
{% include header-new.html %}
    <div class="section">
      <div class="background-image"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>First Giveaway&nbsp;</h1>
            <div class="page-header text-muted">
              <h4>May 26th, 2016 / SLEEPY GONZALES</h4>
            </div>
          </div>
          <div class="col-md-6">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="lead">In 2016, being in a band comes along with challenges that do not necessarily
              have to do with music. One of them is gaining a substantial social media
              following. Unless you have one, the business side of the music industry
              won't give you a second glance.&nbsp;
              <br>
              <br>Bothering people to follow/like Sleepy Gonzales on all of the different
              media platforms is probably our least favourite part of being in this band.
              It just doesn't suite our individual personalities. So we are setting up
              this Giveaway to offer something back to those who are helping us on the
              path to being noticable. By participating in this Giveaway,&nbsp;it will
              mean the world to us. In turn, you will be eligible to win a bunch of
              free stuff.&nbsp;
              <br>
              <br>A social media following will bring us one step closer to achieving our
              goal of recording our first professionally produced LP.
              <br>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="lead"></p>
            <img src="WebPics/GIVEAWAY(Picture+Details).jpg" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="lead text-center">
              <i>This contest is running from May 26th-June-26th so we can gather more
                prizes and give more participants a chance to win something. We encourage
                everyone to email us at sleepygonzales123@gmail.com to suggest additional
                prizes.&nbsp;</i>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>Effloresce EP</h1>
            <div class="page-header text-muted">
              <h4>May 11, 2016 / SLEEPY GONZALES</h4>
            </div>
          </div>
          <div class="col-md-6">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="lead">Just shy of half an hour in duration, this EP was written and recorded
              for the first annual&nbsp;
              <b>Effloresce Drama Festival</b> at Douglas College. The festival, which was
              completely student-led, raised thousands of dollars in donations for the
              <b>BC Children's Hospital Foundation.&nbsp;</b>
              <br>
              <br>Learn more about this project and have a listen:</p>
            <img src="WebPics/efflor.jpg"
            class="img-responsive">
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>Sleepy Gonzales Live</h1>
            <div class="page-header text-muted">
              <h4>April 21, 2016 / SLEEPY GONZALES</h4>
            </div>
          </div>
          <div class="col-md-6">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="lead">Sleepy Gonzales is excited to announce that they will be playing a live
              set in the heart of downtown Vancouver. Admission is free all night, so
              spice up your Thursday evening with some live music and support the local
              arts. The poster below should answer all of your questions. Bring your
              friends. Bring your family. Bring that cutie from work that you've been
              thinking about asking on a date. Who knows, anything can happen. Maybe
              you will look back in thirty years and remember how you were both serenaded
              by Sleepy Gonzales on your first date.</p>
            <img src="WebPics/posterpic2.jpg"
            class="img-responsive">
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="lead text-center">We would like to give a special shout out to our good friend Alex Land for helping us
              build this site, which we were able to do by ourselves thanks to his towering
              intellect and his willingness to help.&nbsp;
              <br>May more&nbsp;people strive to be as magnificient as him.</p>
          </div>
        </div>
      </div>
    </div>
{% include footer-new.html %}
  </body>

</html>
