---

---

<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="css/musicmay26.css" rel="stylesheet" type="text/css">
  </head>

  <body>
{% include header-new.html %}
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center" contenteditable="true">"Things That I Am Not"</h1>
            <h3 class="text-center">
              <font color="#777777">
                <span style="font-size: 15.6000003814697px; line-height: 15.6000003814697px;">A song written and recorded by&nbsp;</span>
              </font>Sleepy Gonzales</h3>
            <h2 class="text-center"></h2>
            <h4 class="text-center"></h4>
            <a href="https://sleepygonzales.bandcamp.com/track/things-that-i-am-not"><img src="WebPics/JordanThings.jpg" class="img-responsive"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Effloresce</h1>
            <h3 class="text-center">
              <font color="#777777">
                <span style="font-size: 15.6000003814697px; line-height: 15.6000003814697px;">An EP written and recorded by&nbsp;</span>
              </font>Sleepy Gonzales</h3>
            <h2 class="text-center"></h2>
            <h4 class="text-center"></h4>
            <a href="https://sleepygonzales.bandcamp.com/album/effloresce"><img src="WebPics/efflor.jpg" class="img-responsive"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="background-image" style="background-image : url('../WebPics/footerphoto.jpg')"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Free Download</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <a href="https://sleepygonzales.bandcamp.com/album/songs-in-progress-miscellaneous"><img src="WebPics/OldInstruments.jpg" class="img-responsive"></a>
            <h2>Sleepy Gonzales Bandcamp</h2>
            <p></p>
            <p>Browse through a selection of versatile songs that Sleepy Gonzales has
              been recording for the past year one of the best digital music interfaces
              on the web.</p>
            <p></p>
          </div>
          <div class="col-md-6">
          <a href="https://sleepygonzales.bandcamp.com/album/another-sunday-mourning-bedroom-demo" ><img src="WebPics/WebsitePic1.jpg" class="img-responsive"></a>
            <h2>Another Sunday Mourning (Bedroom Demo)</h2>
            <p></p>
            <p>This demo is a quick representation of Sleepy Gonzales and all the sounds,
              words, and emotions that we've experienced so far - filtered through GarageBand
              6.0. &nbsp;
              <br>
              <br>Released June 11, 2015&nbsp;</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
{% include footer-new.html %}
  </body>

</html>
