<div class="section">
  <div class="background-image" style="background-image : url('WebPics/Footer1.jpg')"></div>
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-3 text-center">
        <a href= {{ site.instagram }}><i class="fa fa-5x fa-instagram text-inverse"></i></a>
      </div>
      <div class="col-xs-3">
        <a href= {{ site.twitter }}><i class="fa fa-5x fa-fw fa-twitter text-inverse"></i></a>
      </div>
      <div class="col-xs-3">
        <a href= {{ site.facebook }}><i class="fa fa-5x fa-facebook fa-fw text-inverse"></i></a>
      </div>
      <div class="col-xs-3 text-center">
        <a href="mailto:{{ site.email }}"><i class="fa fa-5x fa-fw hub text-inverse fa-envelope-square"></i></a>
      </div>
    </div>
  </div>
</div>
