
        <div class="section">
      <div class="background-image" style="background-image : url('/WebPics/Headerpic.jpg')"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="btn-group" data-toggle="buttons"></div>
            <div class="btn-group btn-group-justified btn-group-xs"></div>
            <div class="btn-group btn-group-justified btn-group-lg"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <a href="musicmay26.html" class="btn btn-link">Music</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <a href="index.html" class="btn btn-link">News</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <a href="contactmay26.html" class="btn btn-link">Contact</a>
          </div>
        </div>
      </div>
    </div>
